#![enable(implicit_some)]

Prefab(
    entities: [
        PrefabEntity(
            data: Actor(
                actor: Named(name: "codi"),
                position: Position(0.0, 0.0, 0.0),
                gltf: File("mesh/codi.glb", ()),
            ),
        ),
    ],
)